.App {
  text-align: center;
}

.container {
  top: 0;
  bottom: 0;
  height: 700px;
  margin: 5% 15%;
  background-color: #fff;
background-image:
linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
linear-gradient(#eee .1em, transparent .1em);
background-size: 100% 1.2em;
}

.header {
  font-family: 'Italianno', cursive;
  font-size: 100px;
  font-weight: 100;
}

.sign-in-bar {
  width: 96.25%;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .25s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.note-list {
  overflow: scroll;
  max-height: 500px;
}
.note {
  display: flex;
}

.note:hover {
  color: rgb(100, 100, 100);
}

.note-title {
  width: 90%;
}

.vis {
  visibility: visible;
}

.hid {
  visibility: hidden;
}

#name-desc {
  margin-bottom: -35px;
}